*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 100vw;
    height: 100vh;
    background-color: #37423D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 25vw;
    height: 70vh;
    padding: 20px;
    background-color: #9A8873;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #171614;
}
.container:hover{
    box-shadow: 0 0 20px 5px #3A2618;
}
form{
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
#amount{
    width: 60%;
    height: 30px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}
#btn{
    align-self: center;
    height: fit-content;
    padding: 20px;
    background-color: #E1EFF6;
    border: 0.5px solid blue;
    border-radius: 10px;
}
#btn:hover{
    box-shadow: 0 0 5px 5px #000000;
}
.dropDowns{
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFEFBD;
    border: 2px solid #53131E;
    border-radius: 5px;
}
.image{
 height: 20px;
 margin-top: 10px;
}
.selects{
    border: none;
    height: 30px;
    width: 80px;
    padding: 2px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #FFEFBD;
}
#convertLogo{
    height: 100%;
    font-size: x-large;
    align-content: center;
}
.conversion{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#hiddenOutput{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
